.pagination-wrap{
    display: flex;
   
   width: 100%;
   justify-content: center;
   font-size: 16px;

}
.paginationBttns{
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:  fit-content;
    margin-top: 20px;
    color: #fff;
    flex-wrap: wrap;
    padding: 0 15px;

}
@media screen and (max-width: 476px){
        .paginationBttns{
            justify-content: flex-start;
        }
        .paginationBttns li{
            margin:  0 10px;

            margin-bottom: 5px;
        }
}
.previous, .next{
    height: 100%;
    outline: none;
    cursor: pointer;
    padding:0 15px;
    background-image: linear-gradient(to top, #dc6bf9, #8e52fc);
    border: none;
    border-radius: 5px;
    height: fit-content;
   
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.paginationBttns li {
    margin-right: 15px;
}
.paginationBttns li :not(li:first-child,li:last-child ){
    border-radius: 6px;
    height: max-content;
    width: fit-content;
    padding: 4px;
    cursor: pointer;
    
}
.paginationActive{
    background-image: linear-gradient(to top, #dc6bf9, #8e52fc);
    border-radius: 4px;
   
}
.previous.paginationDisabled , .next.paginationDisabled{
    background-image:linear-gradient(to top, #ccc, #ccc);
    color: #eee;
}